<div id="navbar" class="">
  <div class="nav_toggle">
    <div class="icon">
      <div></div><div></div><div></div>
    </div>
  </div>
  <ul>
    <li><a href="index">Home</a></li>
    <li><a href="documentation">Documentation</a></li>
    <li><a href="stats">Stats &amp; Graphs</a></li>
  </ul>
</div>
